<header>
  <nav class="logo letter pad2">
    <ul class="no-list row center-xs middle-xs">
      <li class="col-md">
        <h1 class="no-margin">sicMu</h1>
      </li>
    </ul>
  </nav>
  <nav class="be-red white pad_length">
    <ul class="no-list row center-xs">

      <%if not user_signed_in? %>
      <li class="col-md">
        <%= link_to "Inicio", root_path %>
      </li>
      <%else%>
      <li class="col-md">
        <%= link_to "Inicio", articles_path %>
      </li>
      <%end%>


      <%if user_signed_in? %>
      <li class="col-md">
        Perfil
      </li>
      <%end%>
      <%if not user_signed_in? %>
      <li class="col-md">
        <%=link_to "Ingresar", new_user_session_path%>
      </li>
      <%end%>
      <%if not user_signed_in? %>
      <li class="col-md">
        <%=link_to "Registrarse", new_user_registration_path%>
      </li>
      <%else%>
      <li class="col-md">
        <%=link_to "Agregar cancion", new_article_path %>
      </li>
      <%end%>
      <%if not user_signed_in? %>
      <li class="col-md">
        ¿Que es sicMu?
      </li>
      <%else%>
      <li class="col-md">
        Buscar lista
      </li>
      <%end%>
      <%if user_signed_in? %>
      <li class="col-md">
        <%=link_to "Cerrar sesión",destroy_user_session_path, method: :delete%>
      </li>
      <%end%>
    </ul>
  </nav>
</header>
