<%= form_for(@article) do |f| %>
  <% @article.errors.full_messages.each do |message|%>
    <div class="be-red white err">
      *<%=message%>
    </div>
  <%end%>
  <div class="field">
    <%= f.text_field :title, placeholder: "Titulo de la cansión", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Descripcion de la cansión", style:"height:200px", class:"form-control" %>
  </div>
  <div class="field">
      <%=f.submit "Guardar", class:"btn"%>
  </div>
<%end %>
