<h1 class="inicio center-xs col-md"><%= @article.title%></h1>
<div class="inicio center-xs col-md">

  <h5 class="inicio">Artista: <%=@article.artista%></h5>
  <h5 class="inicio">Tamaño: <%=@article.tamano%> MG</h5>
  <h5 class="inicio">album: <%=@article.album%></h5>
  <h5 class="inicio">Año de estreno: <%=@article.ano%></h5>
  <h5 class="inicio">Duración de la canción: <%=@article.tiempo%></h5>
  <p class="err inicio">Descripción:</p>
  <p class="inicio"><%=@article.body%></p>


</div>

<% if not @article.user == nil %>
  <p class="inicio center-xs">subido por: <%=@article.user.email%></p>
<% else %>
  <p>subido por: cuenta cerrada</p>
<% end %>
<% if not @article.privacida == "Publico" %>

  <% if user_signed_in? and @article.user.id == current_user.id %>
    <div class="center-xs col-md">
      <%=link_to "Editar", edit_article_path(@article), class:"ed"%>
    </div>
  <% end %>

<% elsif user_signed_in? and @article.user.id == current_user.id %>
    <div class="center-xs col-md">
      <%=link_to "Editar", edit_article_path(@article), class:"ed"%>
    </div>
<% end %>
